<script context="module">
  import Layout from '@/Components/Layout.svelte'

  export const layout = Layout
</script>

<script>
  import { afterUpdate } from 'svelte'

  import { useForm } from '@inertiajs/inertia-svelte'

  import Chat from '@/Components/Chat.svelte'

  export let user

  let needScrollDown = false

  let chats = []

  let form = useForm({
    content: null,
  })

  function handleFormSubmit() {
    $form.post('/chat', {
      onSuccess: () => $form.content = null
    })
  }

  Echo.channel('chat').listen('Chat', (e) => {
    const scrollHeight = document.querySelector('#output-container').scrollHeight
    const scrollTop = document.querySelector('#output-container').scrollTop
    const clientHeight = document.querySelector('#output-container').clientHeight

    if (Math.round(scrollHeight) == Math.round(scrollTop) + Math.round(clientHeight)) {
      needScrollDown = true
    }

    chats = _.sortBy([...chats, ({
      'session_id': e.chat.session_id,
      'nickname': e.chat.nickname,
      'content': e.chat.content,
      'created_at': e.chat.created_at,
      'order': e.chat.order,
    })], ['order'])
  })

  afterUpdate(() => {
    if (needScrollDown) {
      const scrollHeight = document.querySelector('#output-container').scrollHeight
      const scrollTop = document.querySelector('#output-container').scrollTop
      const clientHeight = document.querySelector('#output-container').clientHeight

      document.querySelector('#output-container').scrollTop += scrollHeight - scrollTop - clientHeight

      needScrollDown = false
    }
  });
</script>

<section class="h-full p-8" style="min-height: 200px">
  <form on:submit|preventDefault={handleFormSubmit} class="flex flex-col h-full border rounded p-4">
    <div id="output-container" class="flex-auto overflow-auto break-all">
      {#each chats as chat}
        <Chat user={user} chat={chat} />
      {/each}
    </div>
    <div id="input-container" class="mt-4">
      <div class="flex border rounded">
        <input type="text" class="w-full rounded flex items-center border-none" bind:value={$form.content}>
        <button type="submit" class="flex items-center p-4"><span class="material-icons text-primary-400">send</span></button>
      </div>
    </div>
  </form>
</section>
