<script context="module">
  import Layout from '@/Components/Layout.svelte'

  export const layout = Layout
</script>

<script>
  import { useForm } from '@inertiajs/inertia-svelte'

  export let user

  let form = useForm({
    nickname: null,
  })

  function handleFormSubmit() {
    $form.post('/nickname')
  }
</script>

<section class="h-full p-8" style="min-height: 200px">
  <form on:submit|preventDefault={handleFormSubmit} class="flex flex-col h-full">
    <h1 class="text-3xl">별명을 입력하세요.<h1>
    <div class="flex border rounded mt-4">
      <input type="text" class="w-full rounded flex items-center border-none" bind:value={$form.nickname}>
      <button type="submit" class="flex items-center p-4"><span class="material-icons text-primary-400">done</span></button>
    </div>
  </form>
</section>
