<style>
  .chat:not(:first-child) {
    @apply mt-4;
  }
</style>

<script>
  export let user

  export let chat
</script>

<div class="chat">
  <div class="font-bold">{chat.nickname}{@html user.session_id == chat.session_id ? '<span class="text-primary-400"> (나)</span>' : ''}:</div>
  <div>{chat.content}</div>
  <div class="text-gray-400">{chat.created_at}</div>
</div>
